{% extends "base.html" %}

{% block head %} 
<title>
    Data
</title>
{% endblock %}

{% block body %} 

<form action = "http://127.0.0.1:5000/get_species", method = 'POST'>
    <p>
    <label for="fname">Sepal length (in cm):</label><br>
    <input type="number" step = 0.1 id="sl" name="sepal_length"><br>
    </p>
    
    <p>
    <label for="lname">Sepal width (in cm):</label><br>
    <input type="number" step = 0.1 id="sw" name="sepal_width"><br>
    </p>

    <p>
    <label for="fname">Petal length (in cm):</label><br>
    <input type="number" step = 0.1 id="pl" name="petal_length"><br>
    </p>    
    
    <p>
    <label for="lname">Petal width (in cm):</label><br>
    <input type="number" step = 0.1 id="pw" name="petal_width">
    </p>

    <p><input type = "submit" value = "Submit"/> </p>

</form>


{% endblock %}
